.dialog-inspection {
  position: absolute;
  top: 43%;
  left: 74%;
  transform: translate(-50%, -50%);
  width: 63vh;
  height: 53vh;
  background-color: rgb(229, 229, 229);
  /* border-right: 1px solid #9a9797;

  }
  
  .dialog-header-inspection {
    padding: 20px;
    /* border-bottom: 1px solid #ccc; */
  }
  
  .dialog-header-inspection  {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
  }
  
  .dialog-header-inspection .para-inspection {
    margin: 1px 0 0;
    font-size: 14px;
    font-weight: 400;
     color: black; 
     padding-top: 36px;
  }
  
  .dialog-body-inspection {
    padding-left: 25px;
  }
  
  .radio-group-inspection {
    display: flex;
    flex-direction: column;
  }
  
  .radio-group-inspection input[type='radio'] {
    display: none; 
  } 
  
  .radio-group-inspection-label {
    display: block;
    position: relative;
    padding-left: 25px;
    /* margin-bottom: 10px; */
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    
    
  }
  
  .radio-group-inspectionlabel:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border: 2px solid #333;
    border-radius: 50%;
    transition: all 0.;
  }

  .cancel-button-inspection{
    font-size: 14px;
    width: 95px;
    height: 25px;
    background-color: #f3f2f1;
    color: black;
    border: 2px solid rgb(191, 189, 189);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    }
    .cancel-button-inspection:hover {
    background-color: #d7e9f7;
    border-color: #005a9e;
    }

    .back-button-inspection{
      font-size: 14px;
      width: 95px;
      height: 25px;
      background-color: #f3f2f1;
      color: black;
      border: 2px solid rgb(191, 189, 189);
      border-radius: 5px;
      cursor: pointer;
      margin-right: 5px;
      }
      .back-button-inspection:hover {
      background-color: #d7e9f7;
      border-color: #005a9e;
      }

      .next-button-inspection{
        font-size: 14px;
        width: 95px;
        height: 25px;
        background-color: #f3f2f1;
        color: black;
        border: 2px solid rgb(191, 189, 189);
        border-radius: 5px;
        cursor: pointer;
        margin-right: 5px;
        }
        .next-button-inspection:hover {
        background-color: #d7e9f7;
        border-color: #005a9e;
        }

        .done-button-inspection{
          font-size: 14px;
          width: 95px;
          height: 25px;
          background-color: #f3f2f1;
          color: black;
          border: 2px solid rgb(191, 189, 189);
          border-radius: 5px;
          cursor: pointer;
          margin-right: 5px;
          }
          .done-button-inspection:hover {
          background-color: #d7e9f7;
          border-color: #005a9e;
          }

          .dialog-footer-inspection{
            display: block;
            margin-left: 70px;
          }

         .label-inspection {
            display: block;
            margin-top: 10px;
             margin-right:235px;
          }

          .label1-inspection {
            display: block;
            margin-top: 10px;
             margin-right:348px;
          }

          .label2-inspection {
            display: block;
            margin-top: 10px;
             margin-right:345px;
          }

          .label3-inspection {
            display: block;
            margin-top: 10px;
             margin-right:348px;
          }
          
          .label4-inspection {
            display: block;
            margin-top: 10px;
             margin-right:345px;
          }
          
          .label5-inspection {
            display: block;
            margin-top: 10px;
             margin-right:231px;
          }