.form-container-onedamagetwoselection {
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 61vh;
  height: 50vh;

  }
  
  .h2-onedamagetwoselection {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .p-onedamagetwoselection {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .label-onedamagetwoselection {
    display: block;
    margin-bottom: 5px;
  }
    .input-onedamagetwoselection {
      flex: 1;
      padding: 10px;
      height: 30px;
      width: 150px;
      border: 2px solid #ccc;
      border-radius: 4px;
      outline: 1rem;
      margin: 1px;
  } 
  
  .input-onedamagetwoselection:hover {
    /* background-color: #d7e9f7; */
    border-color: #005a9e;
    }
  
  .cancel-button-onedamagetwoselection{
    font-size: 14px;
    width: 95px;
    height: 25px;
    background-color: #f3f2f1;
    color: black;
    border: 2px solid rgb(191, 189, 189);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    }
    .cancel-button-onedamagetwoselection:hover {
    background-color: #d7e9f7;
    border-color: #005a9e;
    }
  
    .back-button-onedamagetwoselection{
      font-size: 14px;
      width: 95px;
      height: 25px;
      background-color: #f3f2f1;
      color: black;
      border: 2px solid rgb(191, 189, 189);
      border-radius: 5px;
      cursor: pointer;
      margin-right: 5px;
      }
      .back-button-onedamagetwoselection:hover {
      background-color: #d7e9f7;
      border-color: #005a9e;
      }
  
      .next-button-onedamagetwoselection{
        font-size: 14px;
        width: 95px;
        height: 25px;
        background-color: #f3f2f1;
        color: black;
        border: 2px solid rgb(191, 189, 189);
        border-radius: 5px;
        cursor: pointer;
        margin-right: 5px;
        }
        .next-button-onedamagetwoselection:hover {
        background-color: #d7e9f7;
        border-color: #005a9e;
        }
  
        .done-button-onedamagetwoselection{
          font-size: 14px;
          width: 95px;
          height: 25px;
          background-color: #f3f2f1;
          color: black;
          border: 2px solid rgb(191, 189, 189);
          border-radius: 5px;
          cursor: pointer;
          margin-right: 5px;
          }
          .done-button-onedamagetwoselection:hover {
          background-color: #d7e9f7;
          border-color: #005a9e;
          }
  
          .button-container-onedamagetwoselection{
            display: flex;
            margin-top: 30px;
            margin-left: 40px;
          }
  
          .label-container-onedamagetwoselection{
            display: flex;
  
          }
  