.draw-rectangle-container {
  position: relative;
  width: auto;
  /* height: 538px; */
  /* overflow: hidden; */
  cursor: crosshair;
}

.canvas-for-draw-rectangle-content {
  display: block;
  width: 100%;
  height: 500px;
  margin-top: 3em;
}
