/* body {
    overflow: hidden;
    display: flex;
    height: 100vh;
} */

.home {
    display: flex;
    height: 100vh;
    overflow: none;
}

.main-container {
    text-align: center;
    background-color:#FEE4C3;
    padding: 1px;
    align-items: center;
    width: 50vw;
    line-height: 1px;

    height: 100vh;
    overflow: none;
}

.formcont {
    margin-right: 25vh;
    align-items: center;
}

.text {
    color: #333;
    text-align: center;
    margin-left: 20%;
    font-family: 'Raleway';
    text-decoration: none;
    font-weight: lighter;
}

.form-group {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 2%;
    text-align: left;
    
}

.label {
    height: 5vh;
    text-align: left;
    width: 25%;
    margin-block-start: 1px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.input-for-form {
    flex: 1;
    padding: 3px;
    border: 2px solid #ccc;
    border-radius: 2px;
    width: 100px;
    outline: none;
}

.input-for-form:focus {
    border-bottom-color: #007bff;
}

.button-container {
    flex-wrap: wrap;
    gap: 10px;
}

.button-container button {
    flex: 1;
    color: black;
    padding: 5px 5px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 13px;
    width: 10vw;
}

.button-container button.save {
    background-color: white;
    width: 260px;
}

.button-container button.delete {
    background-color: white;
    width: 255px;
}

.button-container button.add-agent {
    background-color: white;
    width: 253px;
}

.button-container button.export {
    background-color: white;
    width: 381px;
}

.button-container button.import {
    background-color: white;
    width: 386px;
}

.button-container button.sync {
    background-color: white;
    width: 768px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.row {
    display: flex;
}

.col {
    padding: 10px;
    margin-right: 60px;
    padding-left: 40px;
}


.with-border-bottom {
    border-bottom: 1px solid #000;
}

with-vertical-line {
    position: relative;
} 

/* .with-vertical-line::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #000;
    transform: translateX(-50%);
} */

 .row {
    display: flex;
}

table {
    width: 100%;
    border-collapse: collapse;
    }

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    font-weight: normal;
}

th {
    background-color:#FEE4C3;
}

.button-container button:hover {
    background-color: #FEE4C3; 
    color: black; 
    cursor: pointer;
}

.save:hover {
    background-color:#FEE4C3; 
    color: black; 
}

.delete:hover {
    background-color: #FEE4C3; 
    color:black; 
}

.add-agent:hover {
    background-color: #FEE4C3; 
    color: black; 
}

.export:hover,
.import:hover,
.sync:hover {
    background-color: #9E9E9E; 
    color:black; 
}

.upload-photo-container {
    align-items: center;
    margin-bottom: 20px;
}

.upload-photo-preview {
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin-right: 20px;
}

.upload-buttons {
    display: flex;
    gap: 10px;
} 