/* Buttons.module.css */

.Buttons-unorderlist-container {
  list-style-type: none;
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;

  /*  margin-top: -20px; */
}

.Buttons-orderlist-to-adjust-images {
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: white; */
  padding: 1px;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  filter: blur(2px) grayscale(100%); /* Apply blur by default */
  transition: filter 0.3s ease; /* Add transition for a smooth effect */
}
.Buttons-orderlist-to-adjust-images:hover {
  border: 1px solid black;
}
.Buttons-orderlist-to-adjust-images.active,
.Buttons-orderlist-to-adjust-images:not(.img1):active {
  filter: none; /* Remove grayscale and blur when active */
}
.Buttons-orderlist-to-adjust-images.img1 {
  filter: none; /* Remove grayscale and blur for img1 */
}

/* .Buttons-orderlist-to-adjust-images {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
} */
.Buttons-unoorderlist-for-icons-buttons {
  display: grid;
  margin-top: -40px;
  margin-left: 300px;
  gap: 5px;
}
.Buttons-orderlist-for-icons-buttons {
  /* background-color: white; */
  filter: blur(2px) grayscale(100%); /* Apply blur by default */
  transition: filter 0.3s ease; /* Add transition for a smooth effect */
  &.active {
    filter: none; /* Remove blur when active */
  }
}
.Buttons-orderlist-to-adjust-images,
.Buttons-orderlist-for-icons-buttons {
  width: 25px;
  height: 25px;
}
.Buttons-orderlist-for-icons-buttons:hover {
  border: 1px solid black;
}

/* Edit Image Popup-css */

.edit-image-main-popup-container-css {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d3d3d3;
  /* padding-left: 18px; */
  /* padding-right: 25px; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  /* width: 1000px; */
  /* height: 550px; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.Add-Icons-popup-main-container {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: #d3d3d3;

  /* border-radius: 8px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 40em;
  height: 35em;
  overflow: auto;
}
.divAdd-IconsPopup-close-image {
  /* width: 10px;
  height: 5px;
  cursor: pointer; */
}
.Add-Icons-Popup-header-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 236, 236);
  border: solid 1px rgb(191, 189, 189);
  padding: 0px 0 0 1em;
  height: 2em;
  z-index: 2; /* Add a higher z-index to make sure it's above other elements */
}
.Add-Icons-Search-button-main-contaier {
  position: sticky;
  top: 2em; /* Adjust the top position based on the height of the header */
  display: flex;
  justify-content: flex-start;
  /* background-color: #fee4c3; */
  border: solid 1px rgb(191, 189, 189);
  padding: 0px 1em;
  z-index: 1; /* Add a z-index to make sure it's above other elements except the header */
}
.Add-icon-horizonatl-line1 {
  height: 3px;
  background-color: #5600ff;
  border: none;
}
.Add-icon-horizonatl-line2 {
  /* position: relative;
  top: 73%; */
  height: 3px;
  background-color: #e1dfe6;
  border: none;
}

#Add-Icons-Search-Button {
  padding: 10px;
  cursor: pointer;
}

#Add-Icons-Search-Button:hover {
  background-color: #c3ddf1;
  /* border-bottom: 3px solid blue; */
}
.Add-Icons-cancel-btn-zz {
  display: flex;
  justify-content: flex-end;
  /* margin-right: 15px; */
  /* margin-top: 7px; */
  position: fixed;
  top: 90%;
  /* border-top: 1px solid #e1dfe6; */
  width: 100%;
  padding: 1em 1em 0 0;
}
.Add-Icons-cancel-btn-yy {
  background-color: #f3f2f1;
  color: black;
  border: 2px solid rgb(191, 189, 189);
  border-radius: 5px;
  cursor: pointer;
  /* position: absolute; */
  /* top: 91%; */
  width: 6em;
}
.Add-icons-select-icons-from-given-main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9em;
  margin: 4em 7em;
}
.Add-icon-select-icon-image-tage-ite {
  cursor: pointer;
}
.Add-icons-No-Icons-found {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
#Add-icons-button-ss-tt {
  background-color: #f3f2f1;
  color: black;
  border: 2px solid rgb(191, 189, 189);
  border-radius: 5px;
  cursor: pointer;
  /* position: absolute; */
  /* top: 91%; */
  width: 9em;
}

.Add-Icons-cancel-btn-yy:hover {
  background-color: #d7e9f7;
  border-color: #005a9e;
}
.Add-icons-user-uploaded-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5em;
  margin: 2em;
  border: 2px solid gray;
  max-height: 382px;
  overflow-y: auto;
  margin: 0.5em;
  margin-top: 1em;
  padding: 1em;
}
.Add-icons-user-uploaded-icons-add-tab {
  /* display: grid; */
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
  margin: 2em;
}
.Add-icons-user-uploaded-icons-img-to-be-uploaded {
  cursor: pointer;
}
.Add-icons-user-uploaded-icons-img-to-be-uploaded:hover {
  border: 1px solid black;
  /* margin: 1em; */
}

.Add-icons-No-Icons-found-after-uploaded-para {
  text-align: center;
  font-size: 14px;
  padding: 0.6em;
  letter-spacing: 0.6px;
}
.label-name-for-Added-icons {
  align-items: center;
  /* text-align: center; */
  height: 2em;
  padding-left: 1em;
  width: 100%;
  /* cursor: pointer; */
}
.label-name-for-Added-icons:hover {
  border: 2px solid orange;
}
.Add-icon-item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 1em 1em 1em;
}
.input-file-choose-file-to-add-icons {
  /* position: fixed;
  top: 31%;
  left: 41%; */
  width: 10em;
}

.Add-icons-user-uploaded-icons-container-rrr {
  border: 2px solid gray;
  max-height: 299px; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrollbar when content exceeds the height */
  margin: 0.5em;
  margin-top: 1em;
}
.kjcbdavcdkvykhcbd {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; */
  /* width: 130%; */
}
.Add-icon-input-filed-to-search-icons {
  width: 98%;
  height: 2em;
  /* margin: 0px 2px 2px 5px; */
  border: 1px solid;
  border-radius: 4px;
  padding: 1em;
}
.Add-icon-input-filed-to-search-icons:hover {
  border: 2px solid orange;
}
.Add-icon-input-filed-to-search-icons-container {
  display: flex;
  justify-content: center;
}
.divAdd-IconsPopup-close-image:hover {
  background-color: red;
}
.Add-IconsPopupmage-close-i:hover {
  background-color: red;
  color: white;
}
.Add-IconsPopupmage-close-i {
  cursor: pointer;
  width: 31px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
