/* Buttons.module.css */

.Buttons-unorderlist-container {
  list-style-type: none;
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  /*  margin-top: -20px; */
}

.Buttons-orderlist-to-adjust-images {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  padding: 1px;
}

.Buttons-orderlist-to-adjust-images {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.Buttons-unoorderlist-for-icons-buttons {
  display: grid;
  margin-top: -40px;
  margin-left: 300px;
  gap: 5px;
}
.Buttons-orderlist-for-icons-buttons {
  background-color: white;
}
.Buttons-orderlist-to-adjust-images,
.Buttons-orderlist-for-icons-buttons {
  width: 25px;
  height: 25px;
}

/* Edit Image Popup-css */

.edit-image-main-popup-container-css {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgrey;
  /* padding-left: 18px; */
  /* padding-right: 25px; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  /* width: 1000px; */
  /* height: 550px; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.Add-Icons-popup-main-container {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgrey;

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 40em;
  height: 30em;
}
.divAdd-IconsPopup-close-image {
  width: 10px;
  height: 5px;
  cursor: pointer;
}
.Add-Icons-Popup-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fee4c3;
  border: solid 1px rgb(191, 189, 189);
  padding: 0px 1em 0 1em;
  height: 2em;
}
.Add-Icons-Search-button-main-contaier {
  display: flex;
  justify-content: flex-start;
}
.Add-icon-horizonatl-line1 {
  height: 3px;
  background-color: #5600ff;
  border: none;
}
.Add-icon-horizonatl-line2 {
  /* position: relative;
  top: 73%; */
  height: 3px;
  background-color: #e1dfe6;
  border: none;
}

#Add-Icons-Search-Button {
  padding: 10px;
  cursor: pointer;
}

#Add-Icons-Search-Button:hover {
  background-color: rgb(0, 162, 255);
  border-bottom: 4px solid blue;
}
.Add-Icons-cancel-btn-zz {
  display: flex;
  justify-content: flex-end;
  /* margin-right: 15px; */
  /* margin-top: 7px; */
  position: absolute;
  top: 86%;
  border-top: 1px solid #e1dfe6;
  width: 100%;
  padding: 1em 1em 0 0;
}
.Add-Icons-cancel-btn-yy {
  background-color: #f3f2f1;
  color: black;
  border: 2px solid rgb(191, 189, 189);
  border-radius: 5px;
  cursor: pointer;
  /* position: absolute; */
  /* top: 91%; */
  width: 6em;
}
.Add-icons-select-icons-from-given-main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9em;
  margin: 4em 7em;
}
.Add-icon-select-icon-image-tage-ite {
  cursor: pointer;
}
.Add-icons-No-Icons-found {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
#Add-icons-button-ss-tt {
  background-color: #f3f2f1;
  color: black;
  border: 2px solid rgb(191, 189, 189);
  border-radius: 5px;
  cursor: pointer;
  /* position: absolute; */
  /* top: 91%; */
  width: 9em;
}
#Add-icons-button-ss-tt:hover {
  background-color: #d7e9f7;
  border-color: #005a9e;
}
