.Caption-main-container {
  margin-left: 10px;
  margin-top: -10px;
}
.Caption-main-input-filed {
  width: 670px;
  margin-left: 15px;
}
.Caption-image-toopen-popupbox {
  /* cursor: pointer; */
  background-color: white;
  padding: 3px;
  margin-top: -27px;
  margin-left: 695px;
  width: 25px;
  height: 25px;
}
.Caption-main-popup-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgrey;
  padding-left: 18px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1000px;
  height: 550px;

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Ensure the popup is above other elements */
}
.caption-popupbox-input-filed {
  width: 960px;
  height: 400px;
  margin-bottom: 30px;
}

.caption-popupbox-buttons-main-container {
  display: flex;
  justify-content: flex-end;
}

.caption-popupbox-btns {
  background-color: white;
  margin-left: 15px; /* Adjust margin-left as needed */
  padding-left: 5px;
  padding-right: 5px;
}
.caption-popupbox-btns:hover {
  background-color: rgb(178, 178, 185);
}

.caption-popup-close-image {
  width: 15px;
  height: 15px;
}

.caption-popup-caption-editor {
  padding-left: 5px;
  font-size: 17px;
}
.caption-popup-close-image-contaier {
  display: flex;
  justify-content: flex-end;
}
.caption-popup-caption-editor-container {
  margin-left: 0px;
}
