.Caption-main-input-filed {
  width: 690px;
  /* margin-left: 15px; */
}
.Caption-main-input-filed:hover {
  border: 2px solid orange;
}
.Caption-image-toopen-popupbox {
  /* cursor: pointer; */
  background-color: white;
  padding: 3px;
  margin-top: -25px;
  margin-left: 703px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.Caption-main-popup-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d3d3d3;
  /* padding-left: 18px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px; */
  /* width: 1000px; */
  height: 550px;

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Ensure the popup is above other elements */
}
.caption-popupbox-input-filed {
  width: 960px;
  height: 400px;
  /* margin-bottom: 30px; */
  margin: 1em;
}
.caption-popupbox-input-filed:hover {
  border: 2px solid orange;
}
.caption-popupbox-buttons-main-container {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  /* margin-left: 4em; */
  margin: 1em;
}

.caption-popupbox-btns {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f3f2f1;
  color: black;
  border: 2px solid rgb(191, 189, 189);
  border-radius: 5px;
  cursor: pointer;
}

.caption-popup-close-image {
  /* width: 15px;
  height: 15px; */
  cursor: pointer;
  width: 31px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption-popup-caption-editor {
  padding-left: 5px;
  font-size: 17px;
}
.caption-popup-close-image-contaier {
  display: flex;
  justify-content: flex-end;
}
.caption-popup-caption-editor-container {
  /* margin-left: 0px; */
  display: flex;
  justify-content: space-between;
}
.caption-popup-caption-editor-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 236, 236);

  border: solid 1px rgb(191, 189, 189);
  padding: 0px 0 0 1em;
  height: 2em;
}
.caption-popupbox-btns:hover {
  background-color: #d7e9f7;
  border-color: #005a9e;
}

.caption-popup-close-image:hover {
  background-color: red;
  color: white;
}
.caption-popup-close-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
