.PhotoReview-Location-container {
  margin-left: 6px;
}
.PhotoReview-Location-first-inputfields {
  font-size: 10px;
  width: 17em;
  padding-left: 1em;
  height: 2em;
}
.PhotoReview-Location-button {
  margin-left: 75px;
  margin-top: 10px;
  background-color: #f3f2f1;
  color: black;
  border: 2px solid rgb(191, 189, 189);
  border-radius: 5px;

  width: 2em;
  text-align: center;
}
.PhotoReview-Location-button:hover {
  background-color: #d7e9f7;
  border-color: #005a9e;
}

.PhotoReview-Location-Checkbox-Container {
  /* margin-left: 5px; */
  display: grid;
  /* align-items: center; */
  justify-content: start;
  font-size: 13px;
}
.PhotoReview-Location-Checkbox-label {
  /* margin-left: 3px; */
}
.Section-for-label-and-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
}
.container-for-locations-and-recall-component {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: space-between;
}
