.PhotoReview-Location-container {
  margin-left: 6px;
}
.PhotoReview-Location-first-inputfields {
  width: 170px;
}
.PhotoReview-Location-button {
  margin-left: 75px;
  margin-top: 10px;
  background-color: white;
  width: 2em;
  text-align: center;
}
.PhotoReview-Location-Checkbox-Container {
  margin-left: 5px;
}
.PhotoReview-Location-Checkbox-label {
  margin-left: 3px;
}
