.RC-main-container {
  position: absolute;
  margin-left: 520px;
  margin-top: -179px;
}

/* Label styling */
.Recallcheck-container-labelname {
  margin-bottom: 10px; /* Optional: Add margin for spacing between label and inputs */
}

.RC-contaier-reacll-check-Appliance-type {
  margin-top: 2px;
  width: 210px;
}
