.preview-image-contrast {
  width: 50%;
  height: 50%;
}
.adjust-contrast-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 51px;
  position: relative;
}
.contrast-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
.image-container-adjust-contrast {
  display: flex;
  justify-content: center;
}
