.preview-image-contrast {
  /* width: 50%;
  height: 50%; */
  display: block;
  width: 100%;
  height: 500px;
  margin-top: 3em;
}
.adjust-contrast-container {
  /* display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 51px;
  position: relative; */

}
.contrast-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 1em;
}
.image-container-adjust-contrast {
  position: relative;
  width: auto;
  cursor: crosshair;
}
