.btn-editcomm {
    background-color: #f3f2f1;
    color: black;
    border: 2px solid rgb(191, 189, 189);
    border-radius: 5px;
  }
  
  .btn-editcomm:hover {
    background-color: #d7e9f7;
    border-color: #005a9e;
  }
  /* popbox*/
.template-card-editcomm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 600px; /* Adjust the max-width as needed */
    height: 60vh;
    padding: 0;
    z-index: 9999;
    border: 1px solid rgb(191, 189, 189);
    border-radius: 5px;
    border: rgb(229, 229, 229);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(229, 229, 229);
   
  }

  .template-selector-editcomm {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 236, 236);
    border: solid 1px rgb(191, 189, 189);
    padding: 12px;
  }
  .selecteditcomm{
    font-size: 12px;
  }
  .close-button-editcomm {
    background-color: transparent;
    border: none;
    padding: 0 10px;
  
  }
  .close-button-editcomm:hover{
    background-color: #e60000;
  }
  .button-container-editcomm {
    display: flex;
    /* justify-content: space-between; */
    width: 200px;
    margin-left: 37%;
    padding: 5px;
  }
  
  .open-button-editcomm {
    font-size: 14px;
    width: 100px;
    height: 30px;
    background-color: #f3f2f1;
    color: black;
    border: 2px solid rgb(191, 189, 189);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .open-button-editcomm:hover {
    background-color: #d7e9f7;
    border-color: #005a9e;
  }
  
  .cancel-button-editcomm {
    font-size: 14px;
    width: 100px;
    height: 30px;
    background-color: #f3f2f1;
    color: black;
    border: 2px solid rgb(191, 189, 189);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button-editcomm:hover {
    background-color: #d7e9f7;
    border-color: #005a9e;
  }
  .scroll-box-editcomm{
    margin: 2%;
    padding: 2%;
    margin-top: 10%;
    width: 72.5vh;
    height: 40vh;
    border: solid black 1px;
    padding-left: 10px;
    justify-content: center;

  }