.header {
  background-color: #f7f7f7;
  height: 80px;
}

.header2 {
  display: flex;
}

.uordered-list-in-header-section {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-right: 1px solid #80808033;
}

.list-for-header-section-main-nav {
  text-align: center;
  margin: 0 5px;
}

.header2-tag-a {
  text-decoration: none;
  color: #333;
  padding: 6px;
  display: block;
}

.header2-tag-a:hover {
  background-color: #ddd;
}

.second-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.second-line span {
  color: #555;
}

.icons {
  font-size: 2.4rem;
  position: relative;
  cursor: pointer;
}
