.BA-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(190, 184, 184);
  border: 1px solid #ccc;
  padding: 20px;
  width: 570px;
  height: 270px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.BA-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.BA-title {
  font-size: 15px;
}

.close-img {
  cursor: pointer;
}

.BA-content {
  text-align: center;
}

#BAButton {
  padding-left: 10px;
  cursor: pointer;
  background-color: white;
  border-color: black;
}

.BA-box {
  margin-top: 10px;
}
#BA-box {
  width: 550px;
  height: 70px;
}
.OK-content {
  margin-left: 500px;
  margin-top: 15px;
}
#OKButton {
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}
.close-img {
  width: 10px;
  height: 10px;
}
