.Batch-AddPhotos-main-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(190, 184, 184);
  border: 1px solid #ccc;
  padding: 20px;
  width: 570px;
  height: 270px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.Batch-AddPhotos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Batch-AddPhotos-header-BulkImport {
  font-size: 15px;
}

.Batch-AddPhotos-close-image {
  cursor: pointer;
}

.BA-content {
  text-align: center;
}

.Batch-AddPhotos-Button-Browse {
  padding-left: 10px;
  cursor: pointer;
  background-color: white;
  border-color: black;
}

.Batch-AddPhotos-Popupbox-main-container {
  margin-top: 10px;
}

.Batch-Addphotos-Ok-btn-container {
  margin-left: 500px;
  margin-top: 15px;
}
.Batch-Addphotos-Ok-btn {
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}
.Batch-AddPhotos-close-image {
  width: 10px;
  height: 10px;
}
