/* FooterComponent.css */
/* body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 50vh; 
} */
.main-footer-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0; /* Set your desired background color */
  padding: 10px; /* Adjust the padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.left-section {
  margin-right: auto;
  margin-left: 20px;
}

.right-section {
  margin-left: auto;
  margin-right: 20px;
}

.settings-button {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #7e7e7e; /* Light black border */
  border-radius: 5px; /* Rounded corners */
  color: #333; /* Light black text color */
  background-color: white; /* white background */
  /* Hover effect */
  &:hover {
    background-color: #c7e2f8; /* Light blue hover color */
    border: 1px solid #7dbcef; /* Light black border */
  }
}

.connection-form {
  display: flex;
  flex-direction: row;
}

/* Style your radio buttons as needed */
.connection-form label {
  margin-right: 10px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.input-field-for-footer-section {
  margin-right: 10px;
}
