/* .preview-image-brightness {
  width: 50%;
  height: 50%;
} */
.adjust-brightness-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* top: 51px; */
  position: relative;
  margin-top: 3em;
}
.brightness-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 1em;
}
.image-container-adjust-brightness {
  position: relative;
  width: auto;
  cursor: crosshair;
}
