.rotate-clockwise-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 24%;
  position: relative;
}

.image-container-rotate {
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
}

.preview-image-rotate {
  /* width: 50%;
  height: 50%; */
}
